/* Footer */
/* Footer Main */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  padding-top: 72px;
  padding-bottom: 104px;
  margin-top: auto;
}
footer::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  left: -350px;
  width: 1920px;
  background-color: #2d190e;
}
.footer_logo {
  position: relative;
  margin-bottom: 48px;
}
.footer_contacts {
  margin-bottom: 45px;
}
.footer_contact-links {
  padding: 0;
}
.footer_contact-item {
  margin: 0;
}
.footer_contact-item:not(:last-child) {
  margin-right: 49px;
}
.footer_contact-link {
  width: 28px;
  height: 28px;
}
.footer_contact-vk {
  background-image: url('../images/svg/footer-vk.svg');
}
.footer_contact-vk:active {
  background-image: url('../images/svg/footer-vk-active.svg');
}
.footer_contact-ig {
  background-image: url('../images/svg/footer-ig.svg');
}
.footer_contact-ig:active {
  background-image: url('../images/svg/footer-ig-active.svg');
}
.footer_contact-fb {
  background-image: url('../images/svg/footer-fb.svg');
}
.footer_contact-fb:active {
  background-image: url('../images/svg/footer-fb-active.svg');
}
.footer_copyright {
  color: #fcf8f1;
  font-size: 18px;
  line-height: 38px;
  font-family: 'Raleway';
  text-transform: uppercase;
  position: relative;
  margin: 0;
  margin-bottom: 9px;
}
a.footer_politic {
  color: #fcf8f1;
  opacity: 0.7;
  font-family: 'Raleway';
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
.footer_politic:hover {
  text-decoration-color: #fba902;
}

/* Footer Menu */
.footer_menu-title {
  color: #fba902;
  font-family: 'Raleway_bold';
  position: relative;
  padding-top: 15px;
  margin: 0;
  margin-bottom: 48px;
  font-size: 16px;
  line-height: 24px;
}
.footer_menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.footer_menu-item:not(:last-child) {
  margin-bottom: 10px;
}
.footer_menu-link {
  display: block;
  color: #fcf8f1;
  font-size: 14px;
  font-family: 'Railway';
  line-height: 21px;
  padding: 5px;
}
.footer_menu-link:hover {
  text-decoration: underline;
  text-decoration-color: #fba902;
}
.footer_menu-link:active {
  color: #fba902;
}

/* Footer Contacts */
.footer_contacts {
  position: relative;
  padding-top: 15px;
}
.footer_tel {
  color: #fcf8f1;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
.footer_tel-text {
  color: rgba(252, 248, 241, 0.7);
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  font-family: 'Railway';
  margin-bottom: 20px;
}
a.footer_mail {
  color: #fcf8f1;
  display: block;
  text-decoration: underline;
  font-family: 'Railway';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.7;
  margin-bottom: 70px;
  cursor: pointer;
}
.footer_tel:hover,
.footer_mail:hover {
  text-decoration: underline;
  text-decoration-color: #fba902;
}
a.footer_button {
  padding: 16px 34px;
  font-size: 14px;
  line-height: 18px;
  width: 164px;
  text-transform: uppercase;
}
