/* Общее */
html,
body {
  background-color: #fffdfb;
  overflow-x: hidden;
}
a:link,
a:visited {
  text-decoration: none;
  font-weight: normal;
}
div.hidden {
  display: none;
}
.wrapper {
  width: 100%;
  /* max-width: 1440px; */
  height: 8520px;
}
.container {
  padding: 0px 110px;
  height: 8520px;
  max-width: 1440px;
}
.design {
  position: absolute;
  right: 0;
  width: 40vw;
  height: 120%;
  opacity: 0.7;
  margin-top: -30px;
  background: url("../images/design/ellipse_2.png") 20% 50% no-repeat,
    url("../images/design/ellipse_1.png") 10% 55% no-repeat,
    url("../images/design/header_design.png") 100% 100% no-repeat;
}

/* .design_2 {
  position: absolute;
  margin-left: 843px;
  margin-top: 238px;
}
.design_3 {
  position: absolute;
  margin-left: 793px;
  margin-top: 150px;
}
.design_cup {
  position: absolute;
  margin-left: 670px;
  margin-top: 87px;
} */

/* Header */
header {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.logo {
  padding-top: 1px;
  margin-right: auto;
  /* padding-right: 239px; */
}
.menu {
  display: flex;
  /* flex-wrap: wrap; */
  padding-top: 13px;
  padding-right: 30px;
  overflow: hidden;
}
.menu_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.menu_block {
  font-family: "Raleway";
  color: #351c0e;
  margin-left: 50px;
  height: 20px;
  display: block;
}
.menu_block:hover {
  border-bottom: 1px solid #351c0e;
  cursor: pointer;
}
.menu_link {
  color: inherit;
  min-width: 45px;
  display: block;
}

.contacts {
  display: flex;
  margin-left: auto;
  /* padding-left: 178px; */
  margin-right: -22px;
  z-index: 100;
}
.contact {
  font-family: "Raleway";
  color: #351c0e;
  border-right: 1px solid #351c0e;
  padding-right: 14px;
  padding-top: 13px;
  height: 35px;
}
.contact_images {
  padding-left: 15px;
  display: flex;
}
.contact_img {
  padding-top: 8px;
  margin-right: 20px;
}

/* Main */
main {
}
/* Intro Section */
.intro {
  display: flex;
  flex-wrap: wrap;
}
.intro_flex {
  /* flex: 0 1 50%; */
  padding: 0 0 40px 0;
  /* width: 40%; */
  flex: 1 0 auto;
}
.intro_title {
  font-size: 4vw;
  line-height: 6vw;
  padding-top: 147px;
  margin-bottom: 40px;
}
.title {
  font-family: "Raleway_bold";
  color: #351c0e;
  text-transform: uppercase;
}
.intro_text {
  color: #3f342f;
  font-family: "Raleway_bold";
  font-size: 24px;
  opacity: 0.8;
  margin: 0 0 40px 0;
  padding: 0;
  max-width: 45vw;
}
.intro_button {
  width: 28%;
  padding: 20px 72px;
  margin-bottom: 40px;
}
.orange_button {
  display: block;
  border: 1px solid #fcf8f1;
  background-color: #fba902;
  color: #fcf8f1;
  font-family: "Raleway_bold";
  text-align: center;
  cursor: pointer;
}
.orange_button:hover {
  background-color: #fcf8f1;
  color: #fba902;
}
.intro_cup {
  flex: 1 1 35%;
  align-self: flex-end;
  z-index: 2;
  margin: 0;
  margin-bottom: -7vw;
  min-width: 300px;
}
.intro_cup img {
  width: 100%;
}

/* About us */
.about {
  margin-top: 333px;
  margin-bottom: 170px;
  /* height: 717px; */
}
/* .about_flex {
  align-items: center;
} */
.slide_title {
  font-family: "Raleway_bold";
  font-size: 40px;
  color: #3f342f;
  position: relative;
  display: inline-block;
  margin: 0 85px 0 0;
}
.slide_title::after {
  content: "";
  width: 1px;
  height: 80%;
  position: absolute;
  right: -30px;
  top: 10%;
  background-color: #351c0e;
  opacity: 0.5;
}

.slider_menu {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  list-style-type: none;
  display: inline-flex;
  transform: translateY(-10px);
  font-size: 18px;
  line-height: 23px;
}

.slider_menu-item {
  display: block;
  padding: 15px 42px;
  border-bottom: 1px solid #351c0e;
}
.slider_menu-item.active {
  font-weight: 700;
  border-bottom: 2px solid #351c0e;
}

.about_slide {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}

.about_img {
  flex: 1 1 37%;
  /* max-width: 45%; */
  margin-right: 128px;
}

.about_description {
  padding: 40px 5px 0 5px;
  flex: 1 3 23%;
  display: flex;
  flex-direction: column;
}

.about_text {
  margin: 0 0 20px 0;
  font-size: 16px;
  line-height: 24px;
}
.about_text:last-of-type {
  margin-bottom: 40px;
}
.about_text-main {
  color: #fba902;
  font-weight: 700;
}
.about_button {
  padding: 20px 75px;
  align-self: flex-start;
}

/* Advantages Section */
.advantages {
  background: url("../images/design/content_design.png") 0 0 / 50% 100%
    no-repeat;
  padding-bottom: 168px;
  margin-bottom: 1px;
}
.advantages_title {
  font-family: "Raleway_bold";
  font-size: 42px;
  color: #faf5ec;
  position: relative;
}
.advantages_title span {
  color: #fba902;
  position: relative;
}
.advantages_grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 100px;
}
.advantages_list {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* flex-direction: column; */
}
.advantages_item {
  background-color: #faf5ec;
  border: 1px solid #3f342f;
  border-radius: 10px;
  padding: 24px 42px;
  width: 100%;
}
.advantages_item + .advantages_item {
  margin-top: 24px;
}
.advantage {
  font-size: 24px;
  line-height: 31px;
  position: relative;
  margin: 0 0 23px 0;
}
.advantage::after {
  content: "";
  width: 25%;
  height: 2px;
  background-color: #fba902;
  bottom: -5px;
  position: absolute;
  left: 0;
  /* z-index: 5; */
}
.advantage_text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.advantages_cup img {
  display: block;
  margin: 0 auto;
}

/* Actions section */
.actions {
  padding-bottom: 170px;
  margin-bottom: 170px;
}
.actions_title {
  font-size: 60px;
  margin-bottom: 70px;
  margin-top: 170px;
}
.actions_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.actions_item {
  display: block;
  width: 390px;
  background-repeat: no-repeat;
  height: 500px;
  margin: 14px;
  padding: 34px;
}
.action_1 {
  background-image: url(../images/actions1.png);
}
.action_2 {
  background-image: url(../images/actions2.png);
}
.action_3 {
  background-image: url(../images/actions3.png);
}
.actions_item_text {
  color: white;
  font-size: 24px;
  line-height: 38.4px;
  font-family: "Raleway_bold";
  text-transform: uppercase;
}
.actions_item_text span {
  color: #fba902;
}

/* Menu Section */

.content-menu_title {
  font-size: 60px;
}
.content-menu_slide {
  margin-top: 77px;
}
.content-menu_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.author-menu_item,
.dessert-menu_item-big {
  background-color: #faf5ec;
  /* background-position: right;
  background-size: 50%; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  font-size: 14px;
  line-height: 22px;
  color: #351c0e;
  padding: 40px;
  margin-bottom: 50px;
}
.author-menu_item:nth-of-type(2n) .item_description,
.dessert-menu_item-big:nth-last-of-type(2n) .item_description {
  order: -1;
}
.author-menu_item:nth-of-type(2n) .item_properties,
.dessert-menu_item-big:nth-last-of-type(2n) .item_properties {
  order: -1;
}

.author-menu_item:nth-of-type(2n) .item_name,
.author-menu_item:nth-of-type(2n) .item_text,
.author-menu_item:nth-of-type(2n) .item_compound,
.dessert-menu_item-big:nth-last-of-type(2n) .item_name,
.dessert-menu_item-big:nth-last-of-type(2n) .item_text,
.dessert-menu_item-big:nth-last-of-type(2n) .item_compound {
  text-align: right;
}

.author-menu_item figure,
.dessert-menu_item-big figure {
  display: flex;
  margin: 0;
  margin-right: 80px;
}
.author-menu_item:nth-of-type(2n) figure,
.dessert-menu_item-big:nth-last-of-type(2n) figure {
  margin-right: 0;
  margin-left: 80px;
}
.item_properties {
  padding: 5px;
}
.item_volume {
  position: relative;
  margin-bottom: 25px;
}
.item_volume::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #fba902;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.item_definition {
  margin: 0;
  margin-bottom: 14px;
}
.item_energy {
  margin: 0;
  font-size: 12px;
  line-height: 19px;
  color: #3f342f;
  opacity: 0.7;
}
.item_energy dt {
  display: inline-block;
}
.item_energy dd {
  display: inline-block;
  margin: 0;
}
.item_description {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}
.item_name {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
  /* text-align: center; */
}
.item_name span {
  color: #fba902;
}
.item_text {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 20px;
}
.item_compound {
  opacity: 0.7;
  margin: 0;
}
.item_compound span {
  opacity: 1;
}
.classic-menu_item .item_volume,
.dessert-menu_item .item_volume {
  margin: 0;
  margin-top: auto;
}

.classic-menu_list,
.dessert-menu_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  column-gap: 24px;
  row-gap: 50px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.dessert-menu_item-big {
  grid-column: span 2;
}
.classic-menu_item,
.dessert-menu_item {
  padding: 33px;
  background-color: #faf5ec;
}
.classic-menu_item figure,
.dessert-menu_item figure {
  display: flex;
  margin: 0;
  /* flex-wrap: wrap; */
}
.classic-menu_item .item_volume,
.dessert-menu_item .item_volume {
  font-size: 14px;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.classic-menu_item .item_volume::after,
.dessert-menu_item .item_volume::after {
  display: none;
}

@media screen and (max-width: 800px) {
  .author-menu_item,
  .dessert-menu_item-big {
    flex-wrap: wrap;
  }
  .dessert-menu_item-big {
    grid-column: span 1;
  }
}
@media screen and (max-width: 700px) {
  .author-menu_item,
  .dessert-menu_item-big {
    flex-wrap: wrap;
  }
  .classic-menu_item figure,
  .dessert-menu_item figure {
    flex-wrap: wrap;
  }
}

.add_form {
  height: 644px;
}
.add_form_design1 {
  position: absolute;
  margin-left: -110px;
}
.add_form_design2 {
  position: absolute;
}
.add_form_design3 {
  position: absolute;
}
.add_form_blocks {
  display: flex;
  position: relative;
  float: left;
}
.add_forma {
  width: 496px;
  height: 444px;
  margin-top: 100px;
  background-color: #f9f0df;
}
.form_name {
  background-color: transparent;
  border: 1px solid #351c0e;
  width: 336px;
  height: 50px;
  outline: none;
  margin-top: 50px;
}

.form_number {
  background-color: transparent;
  border: 1px solid #351c0e;
  width: 336px;
  height: 50px;
  outline: none;
  margin-top: 20px;
  position: relative;
}
.form_comment {
  background-color: transparent;
  border: 1px solid #351c0e;
  width: 336px;
  height: 133px;
  outline: none;
  margin-top: 20px;
  position: relative;
}
.add_forma form {
  display: flex;
  flex-direction: column;
}

.form_name:focus ~ .label_name,
.form_name:valid ~ .label_name {
  margin-top: 35px;
  margin-left: 80px;
  font-size: 12px;
}
.form_number:focus ~ .label_phone,
.form_number:valid ~ .label_phone {
  margin-top: 110px;
  margin-left: 80px;
  font-size: 12px;
}
.form_comment:focus ~ .label_comment,
.form_comment:valid ~ .label_comment {
  margin-top: 185px;
  margin-left: 80px;
  font-size: 12px;
}
label {
  color: #3f342f;
  opacity: 0.7;
  font-size: 16px;
  font-family: "Raleway";
  position: absolute;
}
.label_name {
  margin: 68px 0px 0px 106px;
  pointer-events: none;
}
.label_phone {
  margin: 140px 0px 0px 106px;
  pointer-events: none;
}
.label_comment {
  margin: 212px 0px 0px 106px;
  pointer-events: none;
}
.submit {
  margin-top: 36px;
  width: 288px;
  height: 50px;
  outline: none;
  background-color: #351c0e;
  color: #fcf8f1;
  font-family: "Raleway_bold";
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 1px;
  border: 1px solid #fcf8f1;
}
.submit:hover {
  border: 1px solid #351c0e;
  background-color: transparent;
  color: #351c0e;
}
.add_form_title {
  padding: 151px 0px 0px 130px;
  color: #fcf8f1;
  font-size: 40px;
  font-family: "Raleway_bold";
  text-transform: uppercase;
}
.add_fotm_text {
  padding: 30px 0px 0px 130px;
  color: #fba902;
  font-size: 24px;
  font-family: "Raleway_bold";
  line-height: 36px;
}
.add_form_text2 {
  padding: 32px 0px 0px 130px;
  color: #fcf8f1;
  font-size: 18px;
  font-family: "Raleway";
  line-height: 27px;
  opacity: 0.7;
}
.vacancy {
}
.vacancy_design {
  margin-left: -110px;
  position: absolute;
  opacity: 0.7;
}
.vacancy_block {
  position: relative;
}
.vacancy_title {
  font-family: "Raleway_bold";
  font-size: 40px;
  color: #351c0e;
  padding-top: 170px;
}
.vacancy_text {
  font-family: "Raleway_bold";
  font-size: 24px;
  color: #351c0e;
  padding-top: 30px;
}
.vacancy_text span {
  color: #fba902;
}
.barista {
  padding-top: 120px;
  padding-left: 100px;
  position: absolute;
}
.barista_title {
  font-size: 24px;
  color: #351c0e;
  font-family: "Raleway_bold";
}
.barista_text {
  font-family: "Raleway_bold";
  color: #351c0e;
  line-height: 25.6px;
  padding-top: 37px;
}
.barista_text span {
  color: #fba902;
}
.barista_botton {
  width: 232px;
  height: 50px;
  background-color: transparent;
  color: #351c0e;
  font-size: 14px;
  font-family: "Raleway_bold";
  border: 1px solid #351c0e;
  float: left;
  margin-top: 80px;
  text-align: center;
  cursor: pointer;
}
.barista_botton_text {
  padding-top: 16px;
}
.barista_botton:hover {
  border: 1px solid #351c0e;
  color: #f9f0df;
  background-color: #351c0e;
}
.guest {
  background-color: #351c0e;
  position: relative;
  width: 600px;
  height: 381px;
  margin: 70px 0px 0px 620px;
  border-radius: 0em 3px 7em;
}
.guest_title {
  font-size: 24px;
  color: #fcf8f1;
  font-family: "Raleway_bold";
  padding: 50px 0px 0px 104px;
}
.guest_text {
  color: #fba902;
  font-family: "Raleway_bold";
  padding: 40px 0px 0px 104px;
}
.guest_text2 {
  color: #fcf8f1;
  font-family: "Raleway";
  line-height: 25.6px;
  padding: 13px 0px 0px 104px;
}
.guest_button {
  width: 232px;
  height: 50px;
  border: 1px solid #fcf8f1;
  margin: 46px 0px 0px 104px;
  cursor: pointer;
  color: #fcf8f1;
  font-size: 14px;
  font-family: "Raleway_bold";
  text-align: center;
}
.guest_button_text {
  padding-top: 15px;
}
.guest_button:hover {
  border: 1px solid #fcf8f1;
  background-color: #fcf8f1;
  color: #351c0e;
}
.map {
  padding-top: 170px;
  position: relative;
}
.map_title {
  font-family: "Raleway_bold";
  font-size: 40px;
  color: #351c0e;
}
.map_title span {
  color: #fba902;
}
.izhevsk {
  color: #3f342f;
  font-family: "Raleway";
  font-size: 18px;
  padding-top: 87px;
  text-transform: uppercase;
  display: block;
  position: absolute;
}
.place {
  margin-top: 58px;
  text-transform: uppercase;
  font-family: "Raleway-SemiBold";
}
.place_bar {
  width: 78px;
  border-bottom: 2px solid #fba902;
  float: left;
  padding-top: 2px;
  position: absolute;
}
.place_time {
  font-size: 14px;
  color: #3f342f;
  float: left;
  margin-top: 11px;
}
.map_img {
  margin-top: 87px;
  float: right;
}
.sociality {
  position: relative;
  padding-top: 100px;
}
.social {
  margin-top: 703px;
  position: absolute;
  display: flex;
}
.social_design {
  position: absolute;
  margin-left: -110px;
}
.social_title {
  text-transform: uppercase;
  color: #fcf8f1;
  font-size: 40px;
  font-family: "Raleway_bold";
}
.social_text {
  text-transform: uppercase;
  color: #fba902;
  font-size: 18px;
  font-family: "Raleway_bold";
  line-height: 37.8px;
  padding-top: 50px;
}
.social_contacts {
  position: relative;
  margin-top: 118px;
  margin-left: 141px;
}
.social_block {
  margin-bottom: 42px;
  display: flex;
}
.social_img {
}
.social_contact_text {
  color: #fcf8f1;
  font-size: 14px;
  font-family: "Raleway";
  margin-left: 19px;
  padding-top: 5px;
}
.blog {
  margin-top: 1256px;
  position: relative;
}
.blog_title {
  font-size: 40px;
  font-family: "Raleway_bold";
  color: #351c0e;
  border-right: 1px solid #351c0e;
  height: 40px;
  width: 200px;
  float: left;
  padding-bottom: 10px;
  position: absolute;
}
.blog_title span {
  color: #fba902;
}
.blog_design {
  position: absolute;
  margin-top: 300px;
  margin-left: -110px;
  opacity: 0.7;
}
.blog_design_2 {
  position: absolute;
  margin-left: 810px;
}
.blog_design_3 {
  position: absolute;
  margin-left: 810px;
}
.blog_button {
  width: 232px;
  height: 50px;
  border: 1px solid #3f342f;
  color: #3f342f;
  font-family: "Raleway_bold";
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  float: right;
  position: relative;
}
.blog_button_text {
  padding-top: 15px;
}
.blog_button:hover {
  background-color: #351c0e;
  color: #fcf8f1;
  cursor: pointer;
}
.blog_blocks {
  display: flex;
  position: relative;
  padding-top: 122px;
}
.blog_block {
  width: 390px;
  height: 500px;
}
.blog_img {
  position: absolute;
}
.blog_text {
  position: absolute;
  color: #fcf8f1;
  font-size: 24px;
  font-family: "Raleway_bold";
  width: 390px;
  text-transform: uppercase;
}
.blog_text span {
  color: #fba902;
}
.blog_1 {
}
.blog_2 {
  padding-left: 260px;
}
.blog_3 {
  padding-left: 260px;
}
.text_1 {
  padding: 400px 0px 0px 35px;
}
.text_2 {
  padding: 343px 0px 0px 35px;
}
.text_3 {
  padding: 370px 0px 0px 35px;
}
footer {
  display: flex;
}
.footer_design {
  position: absolute;
  margin-left: -110px;
  margin-top: 170px;
}
.footer_logo {
  padding-top: 243px;
  position: relative;
}
.coffee {
  margin-left: -73px;
  position: relative;
  margin-bottom: 16px;
}
.bar {
  margin-left: -80px;
}
.footer_icons {
  position: relative;
  display: flex;
  width: 181px;
  float: left;
  margin-left: -12px;
  margin-top: 27px;
}
.copyright {
  margin-top: 45px;
  color: #fcf8f1;
  font-size: 18px;
  font-family: "Raleway-Light";
  position: absolute;
  text-transform: uppercase;
  margin-top: 85px;
}
.politic {
  color: #fcf8f1;
  opacity: 0.7;
  font-family: "Raleway";
  font-size: 14px;
  position: absolute;
  margin-top: 125px;
}
.footer_block_title {
  color: #fcf8f1;
  font-family: "Raleway_bold";
  margin-top: 250px;
  position: relative;
}
.footer_block_text {
  color: #fcf8f1;
  font-size: 14px;
  opacity: 0.7;
  font-family: "Raleway";
  margin-top: 20px;
}
.footer_block_title span {
  color: #fcf8f1;
  font-size: 14px;
  opacity: 0.7;
  font-family: "Raleway";
  line-height: 17px;
}
.footer_1 {
  padding-top: 15px;
}

@font-face {
  src: url(../fonts/Raleway_bold.ttf);
  font-family: "Raleway_bold";
}

@font-face {
  src: url(../fonts/Raleway.ttf);
  font-family: "Raleway";
}
@font-face {
  src: url(../fonts/Raleway-SemiBold.ttf);
  font-family: "Raleway-SemiBold";
}

@font-face {
  src: url(../fonts/Raleway-Light.ttf);
  font-family: "Raleway-Light";
}
