/* Общее */
@font-face {
  src: url(../fonts/Raleway_bold.ttf);
  font-family: 'Raleway_bold';
}

@font-face {
  src: url(../fonts/Raleway.ttf);
  font-family: 'Raleway';
}
@font-face {
  src: url(../fonts/Raleway-SemiBold.ttf);
  font-family: 'Raleway-SemiBold';
}

@font-face {
  src: url(../fonts/Raleway-Light.ttf);
  font-family: 'Raleway-Light';
}

html,
body {
  background-color: #fffdfb;
  font-family: 'Raleway';
}
a:link,
a:visited {
  text-decoration: none;
  font-weight: normal;
}
div.hidden {
  display: none;
}
.wrapper {
  width: 100%;
}
section * {
  z-index: 2;
}
.container {
  padding: 0px 110px;
  width: 1220px;
  position: relative;
  margin: 0 auto;
}

.container::before {
  content: '';
  position: absolute;
  z-index: 1;
  right: calc((100vw - 1440px) / -2);
  top: 0;
  width: calc((100vw - 1440px) / 2 + 540px);
  height: 810px;
  opacity: 0.7;
  background: url('../images/design/ellipse_2.png') left 150px no-repeat,
    url('../images/design/ellipse_1.png') 50px 238px no-repeat,
    url('../images/design/header_design.png') 120px 100% no-repeat;
}
@media screen and (max-width: 1440px) {
  .container::before {
    right: 0;
    width: 540px;
  }
}

/* Header */
header {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.logo {
  padding-top: 1px;
  margin-right: auto;
}
.menu {
  display: flex;
  padding-top: 13px;
  padding-right: 30px;
}
.menu_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.menu_block {
  font-family: 'Raleway';
  color: #351c0e;
  margin-left: 50px;
  height: 20px;
  display: block;
}
.menu_block:hover {
  border-bottom: 1px solid #351c0e;
  cursor: pointer;
}
.menu_link {
  color: inherit;
  min-width: 45px;
  display: block;
}

.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
  z-index: 2;
}
.contact {
  display: block;
  font-family: 'Raleway';
  color: #493326;
  border-right: 1px solid #351c0e;
  padding-right: 14px;
}
.contact_links {
  margin: 0;
  padding: 0 15px;
  list-style-type: none;
  display: flex;
}
.contact_item {
  margin-left: 15px;
}
.contact_link {
  display: block;
  position: relative;
}
.contact_link::before {
  content: '';
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
}
.contact_vk::before {
  background-image: url('../images/vk.svg');
}
.contact_ig::before {
  background-image: url('../images/ig.svg');
}
.contact_ws::before {
  background-image: url('../images/ws.svg');
}

/* Main */
/* Intro Section */
.intro {
  display: flex;
  margin-bottom: 111px;
}
.intro-flex {
  width: 600px;
  margin-right: 128px;
  /* align-items: end; */
}
.intro_cup {
  padding-top: 87px;
}
.intro_title {
  font-size: 50px;
  line-height: 65px;
  margin-bottom: 40px;
  margin-top: 133px;
}
.title {
  font-family: 'Raleway_bold';
  color: #351c0e;
  text-transform: uppercase;
}
.intro_text {
  color: #3f342f;
  font-family: 'Raleway_bold';
  font-size: 24px;
  opacity: 0.8;
  margin: 0 0 30px 0;
  padding: 0;
}
.intro_button {
  width: 144px;
  padding: 20px 72px;
  margin-bottom: 40px;
}
.orange_button {
  display: block;
  border: 1px solid #fcf8f1;
  background-color: #fba902;
  color: #fcf8f1;
  font-family: 'Raleway_bold';
  text-align: center;
  cursor: pointer;
}
.orange_button:hover {
  background-color: #fcf8f1;
  color: #fba902;
}
.intro_cup {
  z-index: 2;
  margin: 0;
}

/* About us */
.about {
  margin-bottom: 170px;
}
.slide_title {
  font-family: 'Raleway_bold';
  font-size: 40px;
  color: #3f342f;
  position: relative;
  display: inline-block;
  margin: 0 97px 0 0;
}
.slide_title::after {
  content: '';
  width: 1px;
  height: 80%;
  position: absolute;
  right: -42px;
  top: 10%;
  background-color: #351c0e;
  opacity: 0.5;
}

.slider_menu {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  list-style-type: none;
  display: inline-flex;
  transform: translateY(-10px);
  font-size: 18px;
  line-height: 23px;
}

.slider_menu-item {
  display: block;
  padding: 15px 50px;
  border-bottom: 1px solid #351c0e;
}
.slider_menu-item.active {
  font-weight: 700;
  border-bottom: 2px solid #351c0e;
}

.about_slide {
  margin-top: 75px;
  display: flex;
}

.about_img {
  margin-right: 123px;
}

.about_description {
  padding: 40px 5px 0 5px;
  flex: 1 3 23%;
  display: flex;
  flex-direction: column;
}

.about_text {
  margin: 0 0 20px 0;
  font-size: 16px;
  line-height: 24px;
}
.about_text:last-of-type {
  margin-bottom: auto;
}
.about_text-main {
  color: #fba902;
  font-weight: 700;
}
.about_button {
  font-size: 14px;
  line-height: 18px;
  width: 232px;
  padding: 20px 47px;
  text-transform: uppercase;
}

/* Advantages Section */
.advantages {
  padding-bottom: 97px;
  position: relative;
}
.advantages::before {
  content: '';
  position: absolute;
  height: 873px;
  bottom: 0;
  left: calc((100vw - 1440px) / -2);
  background: url('../images/design/content_design.png') 100% 50% no-repeat;
  width: calc((100vw - 1440px) / 2 + 720px);
}
@media screen and (max-width: 1440px) {
  .advantages::before {
    left: -110px;
    width: 720px;
  }
}
.advantages_title {
  font-family: 'Raleway_bold';
  font-size: 36px;
  line-height: 47px;
  color: #faf5ec;
  position: relative;
  margin-bottom: 15px;
}
.advantages_title span {
  color: #fba902;
  position: relative;
}
.advantages_grid {
  display: grid;
  grid-template-columns: 392px 239px 392px;
  column-gap: 100px;
}
.advantages_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-direction: column; */
}
.advantages_item {
  background-color: #faf5ec;
  border: 1px solid #3f342f;
  border-radius: 10px;
  padding: 24px 42px;
}
.advantages_item + .advantages_item {
  margin-top: 20px;
}
.advantage {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  margin: 0 0 25px 0;
}
.advantage::after {
  content: '';
  width: 103px;
  height: 2px;
  background-color: #fba902;
  bottom: -10px;
  position: absolute;
  left: 0;
  /* z-index: 5; */
}
.advantage_text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.advantages_cup img {
  display: block;
  margin: 0 auto;
}

/* Actions section */
.actions {
  padding: 100px 0;
  margin-bottom: 176px;
  position: relative;
}
.actions::before {
  content: '';
  width: 100vw;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: calc((100vw - 1440) / -2);
  background: #fcf8f1 url('../images/design/content_design2.png') 100% 100%;
}

@media screen and (max-width: 1440px) {
  .actions::before {
    width: 1440px;
    left: -110px;
  }
}

.actions_title {
  font-size: 36px;
  margin: 0;
  margin-bottom: 70px;
  color: #fba902;
  line-height: 36.8px;
  position: relative;
}
.actions_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 28px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.actions_item {
  display: flex;
  width: 390px;
  background-repeat: no-repeat;
  height: 450px;
}
.action_1 {
  background-image: url(../images/actions1.png);
}
.action_2 {
  background-image: url(../images/actions2.png);
}
.action_3 {
  background-image: url(../images/actions3.png);
}
.actions_item_text {
  color: white;
  font-size: 24px;
  line-height: 38.4px;
  font-family: 'Raleway_bold';
  margin: auto 33px 40px 33px;
}
.actions_item_text span {
  color: #fba902;
}

/* Menu Section */

.content-menu {
  margin-bottom: 172px;
  position: relative;
}
.content-menu_title {
  color: #fba902;
  margin-bottom: 77px;
}
.content-menu_nav {
  position: absolute;
  top: -20px;
  right: 0;
}
.content-menu_item {
  padding: 18px 35px;
  cursor: pointer;
}
.item_image {
  margin-top: -40px;
}
.content-menu_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.author-menu_item {
  position: relative;
  background-color: #faf5ec;
  display: flex;
  font-size: 14px;
  line-height: 22px;
  color: #351c0e;
  padding: 35px 160px 0 16px;
  margin-bottom: 52px;
}
.author_1 {
  border-radius: 90px 0 0 0;
}
.author-menu_item:last-child::after,
.classic-menu_item:last-child::after {
  content: '';
  display: block;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #faf5ec;
}
.author-menu_item:first-child::after,
.classic-menu_item:first-child::after {
  content: '';
  display: block;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #faf5ec;
}
@media screen and (max-width: 1440px) {
  .author-menu_item:first-child::after,
  .classic-menu_item:first-child::after,
  .author-menu_item:last-child::after,
  .classic-menu_item:last-child::after {
    width: 1330px;
  }
}

.author-menu_item figure,
.dessert-menu_item-big figure {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 79px;
}

.item_properties {
  /* padding: 5px 0; */
  margin-left: 100px;
  margin-bottom: 34px;
  margin-top: 12px;
  width: 130px;
  font-family: 'Raleway-SemiBold';
}
.item_volume {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
}
.item_volume::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: #fba902;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.item_definition {
  margin: 0;
  margin-bottom: 14px;
}
.item_energy {
  margin: 0;
  font-size: 12px;
  line-height: 19.2px;
  color: #3f342f;
  opacity: 0.7;
}
.item_energy dt {
  display: inline-block;
  margin-bottom: 5px;
}
.item_energy dd {
  display: inline-block;
  margin: 0;
  margin-bottom: 5px;
}
.item_description {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.item_name {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
}
.item_name span {
  color: #fba902;
}
.item_text {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 20px;
}
.item_compound {
  margin: 0;
  margin-top: auto;
  margin-bottom: 44px;
  font-size: 14px;
  line-height: 22.4px;
}
.item_compound span {
  opacity: 0.7;
}

.classic-menu_list,
.dessert-menu_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  column-gap: 24px;
  row-gap: 50px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.classic-menu_item,
.dessert-menu_item {
  padding: 35px;
  padding-right: 30px;
  padding-left: 0;
  background-color: #faf5ec;
  position: relative;
}
.classic-menu_item figure,
.dessert-menu_item figure {
  display: flex;
  margin: 0;
  margin-left: -20px;
}
.classic-menu_item .item_description,
.dessert-menu_item .item_description {
  margin-left: -20px;
}
.classic-menu_item .item_volume,
.dessert-menu_item .item_volume {
  font-size: 14px;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: auto;
  padding-right: 30px;
}
.classic-menu_item .item_volume::after,
.dessert-menu_item .item_volume::after {
  display: none;
}
.dessert-menu_item:last-child {
  border-radius: 0 0 90px 0;
}

/* Form section */

.add-form {
  padding: 70px 0;
  position: relative;
  /* margin-bottom: 170px; */
}
.add-form::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc((100vw - 1440px) / -2);
  width: 100vw;
  height: 100%;
  background: #493326;
}
@media screen and (max-width: 1440px) {
  .add-form::before {
    left: -110px;
    width: 1440px;
  }
}
.add-form_blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  /* justify-content: space-between; */
}
.add-form_form {
  width: 336px;
  background-color: #f9f0df;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 80px;
  /* margin-right: 130px; */
}
.add-form_form input,
.add-form_form textarea {
  background-color: transparent;
  border: 1px solid #351c0e;
  width: 284px;
  /* height: 22px; */
  outline: none;
  margin-bottom: 20px;
  padding: 14px 26px;
}
.add-form_form textarea {
  height: 113px;
  color: #3f342f;
  opacity: 0.7;
  font-size: 14px;
  line-height: 22.4px;
  font-family: 'Raleway';
}

.form_name:focus ~ .label_name,
.form_name:valid ~ .label_name {
  top: 30px;
  left: 90px;
  font-size: 12px;
}
.form_number:focus ~ .label_phone,
.form_number:valid ~ .label_phone {
  top: 95px;
  left: 90px;
  font-size: 12px;
}
label {
  color: #3f342f;
  opacity: 0.7;
  font-size: 14px;
  line-height: 22.4px;
  font-family: 'Raleway';
  position: absolute;
  left: 106px;
}
.label_name {
  top: 64px;
  pointer-events: none;
}
.label_phone {
  top: 130px;
  pointer-events: none;
}
.add-form_copyright {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 20px;
  color: black;
  /* opacity: 0.7; */
  /* padding: 0 5px; */
}
a.add-form_link {
  color: inherit;
  display: block;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
input.add-form_submit {
  width: 232px;
  margin: 0;
  padding: 16px 50px;
  outline: none;
  font-family: 'Raleway_bold';
  font-size: 14px;
  line-height: 18.2px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fba902;
  border: 1px solid #fcf8f1;
}
.add-form_two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
  /* width: 595px; */
}
.add-form_title {
  color: #fcf8f1;
  font-size: 36px;
  line-height: 46.8px;
  font-weight: 700;
  margin: 0 0 30px 0;
  font-family: 'Raleway_bold';
  text-transform: uppercase;
}
.add-form_text {
  color: #fcf8f1;
  font-size: 20px;
  font-family: 'Raleway';
  line-height: 30px;
  margin: 0 0 30px 0;
}
.add-form_text-little {
  color: #fcf8f1;
  font-size: 16px;
  font-family: 'Raleway';
  line-height: 24px;
  opacity: 0.7;
  margin: 0;
}
.add-form_text-little span {
  color: #fba902;
}

/* Vacancies section */
.vacancies {
  padding-top: 170px;
  margin-bottom: 170px;
  position: relative;
}
.vacancies::before {
  content: '';
  position: absolute;
  top: 0;
  width: calc((100vw - 1440px) / 2 + 830px);
  height: 1587px;
  left: calc((100vw - 1440px) / -2);
  background: #fcf8f1 url('../images/design/vacancy.png');
}
@media screen and (max-width: 1440px) {
  .vacancies::before {
    width: 940px;
    left: -110px;
  }
}
.vacancies_title {
  font-size: 36px;
  line-height: 47px;
  color: #493326;
  margin-bottom: 30px;
  position: relative;
}
.vacancies_text {
  font-family: 'Raleway';
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  color: #351c0e;
  margin: 0;
  margin-bottom: 81px;
  position: relative;
}
.vacancies_text span {
  color: #fba902;
}
.vacancies_blocks {
  /* position: relative; */
  display: flex;
  justify-content: stretch;
}
.vacancy_block {
  padding: 50px 104px;
  display: flex;
  flex-direction: column;
}
.vacancy_title {
  font-size: 24px;
  line-height: 38.4px;
  margin: 0;
  margin-bottom: 24px;
  font-family: 'Raleway_bold';
  position: relative;
}
.vacancy_title::after {
  content: '';
  height: 1px;
  width: 103px;
  position: absolute;
  background-color: #fba902;
  left: 0;
  bottom: -10px;
}
.barista {
  padding-right: 50px;
  background-color: #fcf8f1;
  /* position: absolute; */
}
.barista_title {
  color: #351c0e;
}
.barista_text {
  font-family: 'Raleway';
  color: #351c0e;
  line-height: 25.6px;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 66px;
  padding-right: 100px;
}
.barista_text span {
  color: #fba902;
  text-transform: uppercase;
}
.vacancy_button {
  width: 232px;
  padding: 16px 53px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18.2px;
  font-family: 'Raleway_bold';
  cursor: pointer;
  margin-top: auto;
}
.barista_button {
  color: #3f342f;
  border: 1px solid #351c0e;
}

.barista_button:hover {
  border: 1px solid #351c0e;
  color: #f9f0df;
  background-color: #351c0e;
}
.guest {
  background-color: #351c0e;
  border-radius: 0em 7em 7em 0;
  padding-right: 66px;
}
.guest_title {
  color: #fcf8f1;
}
.guest p {
  line-height: 25.6px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Raleway';
  /* margin: 0; */
  padding-right: 57px;
}
.guest_text {
  color: #fba902;
  margin: 0;
  margin-bottom: 10px;
}
.guest_text2 {
  color: #fcf8f1;
  margin: 0;
  margin-bottom: 30px;
}
.guest_button {
  padding: 16px 31px;
  border: 1px solid #fcf8f1;
  color: #fcf8f1;
  font-size: 14px;
  font-family: 'Raleway_bold';
}
.guest_button:hover {
  border: 1px solid #fcf8f1;
  background-color: #fcf8f1;
  color: #351c0e;
}

/* Map Section */
.map {
  margin-bottom: 120px;
}
.map_title {
  margin-bottom: 75px;
  position: relative;
  font-size: 36px;
  line-height: 46.8px;
}
.map_title span {
  color: #fba902;
}
.map-flex {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.map_places {
  padding-right: 5px;
  /* margin-right: 100px; */
}
.map_city {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 32px;
  font-family: 'Raleway';
}
.map_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.map_list-item {
  margin-bottom: 25px;
  color: #3f342f;
  font-family: 'Raleway';
}
.place {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 15px;
  position: relative;
}
.place::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 1px;
  width: 103px;
  background-color: #fba902;
}
.place_time {
  font-size: 14px;
  line-height: 12.5px;
  margin: 0;
}

/* Section Blog */
.blog {
  position: relative;
  padding-bottom: 170px;
  padding-top: 120px;
}
.blog::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc((100vw - 1440px) / -2);
  width: 100vw;
  height: 493px;
  background: #fcf8f1 url('../images/design/blog.png');
}
@media screen and (max-width: 1440px) {
  .blog::before {
    left: -110px;
    width: 1440px;
  }
}
.blog_title {
  font-size: 36px;
  width: 250px;
  font-family: 'Raleway_bold';
  border-right: 1px solid #351c0e;
  margin: 0;
  margin-bottom: 75px;
}
.blog_title span {
  color: #fba902;
}

.blog_button-read {
  /* width: 232px;
  height: 50px; */
  display: block;
  padding: 16px 45px;
  border: 1px solid #3f342f;
  color: #3f342f;
  font-family: 'Raleway_bold';
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 120px;
  right: 0;
}

.blog_button-read:hover {
  background-color: #351c0e;
  color: #fcf8f1;
  cursor: pointer;
}
.blog_blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.blog_block {
  /* width: 392px; */
  height: 500px;
  position: relative;
}
.blog_1 {
  background-image: url('../images/blog1.png');
}
.blog_2 {
  background-image: url('../images/blog2.png');
}
.blog_3 {
  background-image: url('../images/blog3.png');
}
.blog_block:last-child {
  margin-right: 0;
}
.blog_text {
  margin: 0;
  padding: 5px;
  position: absolute;
  left: 30px;
  bottom: 35px;
  color: #fcf8f1;
  font-size: 24px;
  line-height: 38.4px;
  font-family: 'Raleway';
}
.blog_text span {
  color: #fba902;
}

/* Footer */
/* Footer Main */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  padding-top: 72px;
  padding-bottom: 104px;
}
footer::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  left: calc((100vw - 1440px) / -2);
  width: 100vw;
  background-color: #2d190e;
}
@media screen and (max-width: 1440px) {
  footer::before {
    left: -110px;
    width: 1440px;
  }
}
.footer_logo {
  position: relative;
  margin-bottom: 48px;
}
.footer_logo::after {
  content: '';
  position: absolute;
  left: 78px;
  top: 0;
  height: 40px;
  width: 1px;
  background-color: #fcf8f1;
  opacity: 0.7;
}
.footer_logo::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 90px;
  width: 61px;
  height: 16px;
  background: url('../images/coffee.svg');
}
.footer_contacts {
  margin-bottom: 45px;
}
.footer_contact-links {
  padding: 0;
}
.footer_contact-item {
  margin: 0;
}
.footer_contact-item:not(:last-child) {
  margin-right: 49px;
}
.footer_contact-link {
  width: 28px;
  height: 28px;
}
.footer_contact-vk {
  background-image: url('../images/footer-vk.svg');
}
.footer_contact-ig {
  background-image: url('../images/footer-ig.svg');
}
.footer_contact-ws {
  background-image: url('../images/footer-ws.svg');
}
.footer_copyright {
  color: #fcf8f1;
  font-size: 18px;
  line-height: 38px;
  font-family: 'Raleway';
  text-transform: uppercase;
  position: relative;
  margin: 0;
  margin-bottom: 9px;
}
a.footer_politic {
  color: #fcf8f1;
  opacity: 0.7;
  font-family: 'Raleway';
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

/* Footer Menu */
.footer_menu-title {
  color: #fba902;
  font-family: 'Raleway_bold';
  position: relative;
  padding-top: 15px;
  margin: 0;
  margin-bottom: 48px;
  font-size: 16px;
  line-height: 24px;
}
.footer_menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.footer_menu-item:not(:last-child) {
  margin-bottom: 10px;
}
.footer_menu-link {
  display: block;
  color: #fcf8f1;
  font-size: 14px;
  font-family: 'Railway';
  line-height: 21px;
  padding: 5px;
}
.footer_menu-link:hover {
  text-decoration: underline;
}

/* Footer Contacts */
.footer_contacts {
  position: relative;
  padding-top: 15px;
}
.footer_tel {
  color: #fcf8f1;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
.footer_tel-text {
  color: rgba(252, 248, 241, 0.7);
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  font-family: 'Railway';
  margin-bottom: 20px;
}
a.footer_mail {
  color: #fcf8f1;
  display: block;
  text-decoration: underline;
  font-family: 'Railway';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.7;
  margin-bottom: 70px;
  cursor: pointer;
}
a.footer_button {
  display: block;
  padding: 16px 34px;
  font-size: 14px;
  line-height: 18px;
  width: 164px;
  text-transform: uppercase;
  border: 1px solid #fcf8f1;
  color: #fcf8f1;
}
a.footer_button:hover {
  border: 1px solid #fcf8f1;
  background-color: #fcf8f1;
  color: #351c0e;
}
