/* Popup Styles */
.overlay {
  position: fixed;
  width: 1920px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #493326;
  opacity: 0.8;
  z-index: 5;
  backdrop-filter: blur(10px);
  transition: opacity 0.1s;
}
.overlay.invisible {
  opacity: 0;
}

/* Form Styles */
form {
  background-color: #f9f0df;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 80px;
}
form input:not([type='submit']),
form textarea {
  background-color: transparent;
  border: 1px solid #351c0e;
  margin-bottom: 20px;
  outline: none;
  caret-color: #fba902;
}
form input.invalid,
textarea.invalid {
  color: #fba902 !important;
  border: 1px solid #fba902 !important;
  animation-name: invalid;
  transition: color 0.4s;
  animation-duration: 0.2s;
  animation-iteration-count: 2;
  animation-direction: normal;
}
form input.invalid ~ label {
  color: #fba902;
}
form input.invalid::placeholder {
  color: #fba902;
}
input:-webkit-autofill {
  box-shadow: none;
  -webkit-box-shadow: 0 0 0 30px #f9f0d8 inset !important;
}
@keyframes invalid {
  30% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-5px);
  }
}
form textarea {
  height: 113px;
  color: #3f342f;
  opacity: 0.7;
  font-family: 'Raleway';
  font-size: 14px;
  line-height: 22.4px;
}
form .form_copyright {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 20px;
  color: black;
}
form label {
  color: #3f342f;
  opacity: 0.7;
  font-size: 14px;
  line-height: 22.4px;
  font-family: 'Raleway';
  position: absolute;
}
form .form_link {
  color: inherit;
  display: block;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
form .submit {
  margin: 0;
  font-size: 14px;
  line-height: 18.2px;
  text-transform: uppercase;
}

/* Vacancy-form Popup */
.vacancy-form {
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -300px;
  z-index: 6;
  position: fixed;
  border-radius: 15px;
  transition: opacity 0.2s;
}
.vacancy-form.invisible {
  opacity: 0;
}
.vacancy-form form {
  width: 440px;
}
.vacancy-form_title {
  margin: 0;
  margin-bottom: 45px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 46.8px;
}
.vacancy-form_title span {
  color: #fba902;
}
.vacancy-form input {
  padding: 14px 24px;
  width: 392px;
  display: inline-block;
  position: relative;
}
.vacancy-form textarea {
  padding: 11px 24px;
  width: 392px;
}
.vacancy-inline {
  display: flex;
  justify-content: space-between;
  width: 440px;
}
#vacancy-phone,
#vacancy-email {
  width: 160px;
}
.vacancy-form .form_copyright {
  width: 550px;
}
.vacancy_name-label {
  top: 155px;
  left: 104px;
}
.vacancy_phone-label {
  top: 223px;
  left: 104px;
}
.vacancy_email-label {
  top: 223px;
  left: 336px;
  opacity: 0;
}
#vacancy-name:focus ~ .vacancy_name-label,
#vacancy-name:valid ~ .vacancy_name-label {
  font-size: 12px;
  top: 120px;
  left: 90px;
}
#vacancy-phone:focus ~ .vacancy_phone-label,
#vacancy-phone:valid ~ .vacancy_phone-label,
#vacancy-phone:hover ~ .vacancy_phone-label {
  font-size: 12px;
  top: 190px;
  left: 90px;
}
#vacancy-email:focus ~ .vacancy_email-label,
#vacancy-email:valid ~ .vacancy_email-label {
  font-size: 12px;
  top: 190px;
  left: 320px;
  opacity: 1;
}
.popup-guest {
  color: #fcf8f1;
  background-color: #493326;
}
.popup-guest input::placeholder {
  color: #fcf8f1;
  opacity: 0.7;
  font-size: 14px;
}
.popup-guest_title {
  color: #fcf8f1;
}
.popup-guest form {
  background-color: #493326;
}
.popup-guest input:not([type='submit']),
.popup-guest textarea {
  border-color: #fcf8f1;
  color: #fcf8f1;
}
.popup-guest label {
  color: #fcf8f1;
}
.popup-guest .form_copyright {
  color: inherit;
}

/* Popup Announce  */
.announce {
  z-index: 7;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 50px 80px;
  margin-left: -400px;
  margin-top: -165px;
  border-radius: 10px;
  width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.2s;
}
.announce.invisible {
  opacity: 0;
}
.announce_title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 46.8px;
  margin: 0;
  margin-bottom: 35px;
}
.announce_title span {
  color: #fba902;
}
.announce_text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 28.8px;
  text-align: center;
  padding: 0 35px;
}
.announce_button {
  margin: 0 auto;
  padding: 16px 82px;
  text-transform: uppercase;
}

.popup-barista {
  background-color: #f9f0df;
  color: #3f342f;
}
