*{
	padding: 0px auto;
	margin: 0px auto;
}
 a:link, a:visited {
   text-decoration: none;
   font-weight: normal;
}
html, body {
	background-color: #FFFDFB;
}

.wrapper{
	width: 100%;
	height: 964px;
	background-color: #FFFDFB;
}
.container{
	padding: 0px 110px;
	width: 1440px;
}

header{
	height: 100px;
	padding-top: 30px;
	margin-bottom: 100px;
}
.logo{
	position: absolute;
}
.contacts{
	display: flex;
	width: 114px;
	float: right;
	padding-top: 10px;
}

.content_text{
	font-family: "Raleway_bold";
	color: #351c0e;
	font-size: 36px;
	line-height: 57.6px;
	display: flex;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
}
.content_text_yellow{
	color: #FBA902;
	margin: 0px 10px;
}
.choice{
	display: flex;
	padding-top: 70px;
}
.left_block{
	width: 600px;
	height: 269px;
	background-color: #FAF5EC;
	border: 1px solid #351c0e;
	-moz-border-radius: 7em 3px 0em;
    -webkit-border-radius: 1em 3px 5em;
    border-radius: 7em 3px 0em; 
}
.right_block{
	width: 600px;
	height: 269px;
	background-color: #351c0e;
	border: 1px solid #351c0e;
	-moz-border-radius: 0em 3px 7em;
    -webkit-border-radius: 1em 3px 5em;
    border-radius: 0em 3px 7em; 
}
.block_text_left{
	font-size: 24px;
	padding-top: 50px;
	font-family: "Raleway_bold";
	text-align: center;
	color: #351c0e;
	text-transform: uppercase;
}
.block_botton_left{
	width: 288px;
	height: 50px;
	background-color: #351c0e;
	margin-top: 50px;
	font-family: "Raleway_bold";
	color: #FCF8F1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.block_botton_left:hover{
	color: #351c0e;
	border: 1px solid #351c0e;
	background-color: #FAF5EC;
	cursor: pointer;
}
.block_text_right{
	font-size: 24px;
	padding-top: 50px;
	font-family: "Raleway_bold";
	text-align: center;
	color: #FCF8F1;
	text-transform: uppercase;
}
.block_botton_right{
	width: 288px;
	height: 50px;
	background-color: #FAF5EC;
	margin-top: 50px;
	font-family: "Raleway_bold";
	color: #351c0e;
	display: flex;
	justify-content: center;
	align-items: center;
}
.block_botton_right:hover{
	color: #FAF5EC;
	border: 1px solid #FAF5EC;
	background-color: #351c0e;
	cursor: pointer;
}

















































@font-face
{
src:url(../fonts/Raleway_bold.ttf);
font-family: "Raleway_bold";
}

@font-face
{
src:url(../fonts/Raleway.ttf);
font-family: "Raleway";
}
