/* Общее */
a:link,
a:visited {
  text-decoration: none;
  font-weight: normal;
}

html,
body {
  background-color: #fffdfb;
}

/* Шрифты */
@font-face {
  src: url(../fonts/Raleway_bold.ttf);
  font-family: 'Raleway_bold';
}

@font-face {
  src: url(../fonts/Raleway.ttf);
  font-family: 'Raleway';
}

.wrapper {
  width: 100%;
  height: 964px;
  background-color: #fffdfb;
}
.container {
  padding: 0px 110px;
  width: 1220px;
}

/* Кнопки */
.button {
  display: block;
  font-family: 'Raleway_bold';
  text-align: center;
  cursor: pointer;
}

.orange_button {
  background-color: #fba902;
  border: 1px solid #fba902;
  color: #fcf8f1;
}
.orange_button:hover {
  border: 1px solid #3f342f;
}
.orange_button:active {
  border: 1px solid #3f342f;
  background-color: #351c0e;
}

.white_button {
  background-color: #faf5ec;
  color: #351c0e;
}
.white_button:hover {
  color: #faf5ec;
  border: 1px solid #fba902;
  background-color: #351c0e;
}
.white_button:active {
  border: 1px solid #3f342f;
  background-color: #fba902;
  color: #faf5ec;
}
.white_button-dark {
  background-color: #faf5ec;
  color: #351c0e;
  border: 1px solid #faf5ec;
}
.white_button-dark:hover {
  border: 1px solid #fba902;
}
.white_button-dark:active {
  border: 1px solid #fba902;
  background-color: #fba902;
  color: #faf5ec;
}

/* Header */
header {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.logo {
  padding-top: 1px;
  margin-right: auto;
}
.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
  z-index: 2;
}
.contact_links {
  margin: 0;
  padding: 0 15px;
  list-style-type: none;
  display: flex;
}
.contact_item {
  margin-left: 15px;
}
.contact_link {
  display: block;
  position: relative;
}
.contact_link::before {
  content: '';
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
}
.contact_vk::before {
  background-image: url('../images/vk.svg');
}
.contact_ig::before {
  background-image: url('../images/ig.svg');
}
.contact_ws::before {
  background-image: url('../images/ws.svg');
}

/* Main */

.content_text {
  font-family: 'Raleway_bold';
  color: #351c0e;
  font-size: 36px;
  line-height: 57.6px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 98px;
}
.content_text_yellow {
  color: #fba902;
}

/* Choice section */
.choice {
  padding-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.choice_block {
  padding: 50px;
  border: 1px solid #351c0e;
  display: inline-flex;
  flex-direction: column;
}

.left_block {
  background-color: #faf5ec;
  -moz-border-radius: 7em 3px 0em;
  -webkit-border-radius: 1em 3px 5em;
  border-radius: 7em 3px 0em;
}

.right_block {
  background-color: #351c0e;
  -moz-border-radius: 0em 3px 7em;
  -webkit-border-radius: 1em 3px 5em;
  border-radius: 0em 3px 7em;
}

.choice_text {
  font-size: 24px;
  line-height: 38.4px;
  margin-bottom: 40px;
  font-family: 'Raleway_bold';
  text-align: center;
}
.choice_text span {
  color: #fba902;
}

.block_text_left {
  color: #351c0e;
}
.block_text_right {
  color: #fcf8f1;
}
.choice_button {
  width: 232px;
  margin: 0 auto;
  padding: 15px 32px;
}
