main {
  margin-top: 100px;
  display: flex;
}
.design {
  width: 740px;
  height: 1300px;
  background-color: #f6ebd8;
  position: absolute;
  border-radius: 0px 0px 0px 100px;
  margin-left: 1185px;
}
h1 {
  text-transform: uppercase;
  color: #3f342f;
  font-size: 36px;
  line-height: 46.8px;
  font-family: 'Raleway_bold';
}
h1 span {
  color: #fba902;
}
.back_button {
  position: absolute;
  width: 184px;
  height: 50px;
  margin: -157px 0px 0px 1036px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}
.blog_img {
  margin-top: 40px;
}
.blog_text_block {
  margin-top: 55px;
}
.blog_paragraph {
  list-style-type: none;
  display: flex;
  margin-bottom: 24px;
}
.blog_number {
  font-family: 'Raleway_bold';
  color: #fba902;
  position: relative;
  font-size: 20px;
}
.blog_text {
  font-family: 'Raleway';
  line-height: 25.6px;
  color: #3f342f;
  font-size: 16px;
}

.right_block {
  margin: 140px 0px 0px 184px;
}
h3 {
  font-family: 'Raleway';
  color: #3f342f;
  opacity: 0.7;
  font-size: 16px;
}
.right_block_bar {
  border-bottom: 1px solid #fba902;
  width: 103px;
  margin-top: -7px;
  margin-bottom: 30px;
}
.right_block_article {
  cursor: pointer;
}
.right_block_title {
  font-family: 'Raleway';
  font-size: 16px;
  color: #3f342f;
  line-height: 20.8px;
  margin-bottom: 20px;
}
.right_block_img {
  margin-bottom: 60px;
  margin-left: -12px;
}
footer {
  margin-top: 65px;
}
.footer_contacts_blog {
  margin-left: 762px;
  width: 300px;
}
