/* About Section */
.about {
  margin-bottom: 170px;
}
.about_slide {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.about_img {
  margin-right: 123px;
}
.about_description {
  padding: 40px 5px 0 5px;
  display: flex;
  flex-direction: column;
}
.about_text {
  margin: 0 0 20px 0;
  font-size: 16px;
  line-height: 24px;
}
.about_text:last-of-type {
  margin-bottom: auto;
}
.about_text-main {
  color: #fba902;
  font-weight: 700;
}
.about_button {
  font-size: 14px;
  line-height: 18px;
  width: 232px;
  padding: 20px 47px;
  text-transform: uppercase;
}
