/* Actions section */
.actions {
  padding: 100px 0;
  margin-bottom: 176px;
  position: relative;
}

.actions_title {
  font-size: 36px;
  margin: 0;
  margin-bottom: 70px;
  color: #fba902;
  line-height: 36.8px;
  position: relative;
}
.actions_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 28px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.actions_item {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.5s;
  min-height: 400px;
}
.actions_item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}
.action_1 {
  background-image: url(../../images/actions1.png);
}
.action_2 {
  background-image: url(../../images/actions2.png);
}
.action_3 {
  background-image: url(../../images/actions3.png);
}
.actions_item_text {
  color: white;
  font-size: 24px;
  line-height: 38.4px;
  font-family: 'Raleway_bold';
  margin: auto 33px 40px 33px;
}
.actions_item_text span {
  color: #fba902;
}
@media screen and (max-width: 600px) {
  .actions_item_text {
    font-size: 20px;
    margin: auto 10px 30px 10px;
  }
  .actions_item:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    cursor: pointer;
  }
  .actions {
    margin-bottom: 80px;
  }
}
