/* Advantages Section */
.advantages {
  padding-bottom: 97px;
  position: relative;
}

.advantages_title {
  font-family: 'Raleway_bold';
  font-size: 36px;
  line-height: 47px;
  color: #faf5ec;
  position: relative;
  margin-bottom: 15px;
}
.advantages_title span {
  color: #fba902;
  position: relative;
}
.advantages_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* column-gap: 100px; */
}
.advantages_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.advantages_item {
  background-color: #faf5ec;
  border: 1px solid #3f342f;
  border-radius: 10px;
  padding: 24px 42px;
  /* min-height: 40%; */
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.advantages_item + .advantages_item {
  margin-top: 20px;
}
.advantage {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  margin: 0 0 25px 0;
}
.advantage::after {
  content: '';
  width: 103px;
  height: 2px;
  background-color: #fba902;
  bottom: -10px;
  position: absolute;
  left: 0;
}
.advantage_text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.advantages_cup {
  position: relative;
}
.advantages_cup img {
  display: block;
  margin: 0 auto;
  position: relative;
  object-fit: contain;
}
.shake-img {
  animation-name: shake;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shake {
  20% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 850px) {
  .advantages_title {
    font-size: 26px;
  }
  .advantages_cup {
    display: none;
  }
  .advantages_grid {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
  }
  .advantages_item {
    padding: 25px 20px;
  }
  .advantage {
    font-size: 18px;
  }
  .advantage_text {
    font-size: 14px;
  }
}
