/* Section Blog */
.blog {
  position: relative;
  padding-bottom: 170px;
  padding-top: 120px;
}
.blog_title {
  font-size: 36px;
  width: 250px;
  font-family: 'Raleway_bold';
  border-right: 1px solid #351c0e;
  margin: 0;
  margin-bottom: 75px;
}
.blog_title span {
  color: #fba902;
}
.blog_button-read {
  padding: 16px 45px;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  top: 120px;
  right: 0;
  background: transparent;
}
.blog_blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 24px;
}
.blog_block {
  height: 420px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 40px 34px;
  background-size: cover;
}
.blog_1 {
  background-image: url('../../images/blog1.png');
}
.blog_2 {
  background-image: url('../../images/blog5.png');
}
.blog_3 {
  background-image: url('../../images/blog2.png');
}
.blog_block:hover .blog_button {
  display: block;
  opacity: 1;
}
.blog_block:hover .blog_text {
  transform: translateY(0);
}
.blog_block:last-child {
  margin-right: 0;
}

p.blog_text {
  margin: 0;
  color: #fcf8f1;
  font-size: 24px;
  line-height: 38.4px;
  font-family: 'Raleway';
  transform: translateY(50px);
  transition: transform 0.7s;
}
.blog_text span {
  color: #fba902;
}
.blog_button {
  margin-top: 20px;
  padding: 16px 58px;
  opacity: 0;
  transition: opacity 0.7s;
}
@media screen and (max-width: 350px) {
  .blog_blocks {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) {
  .blog_title {
    border: none;
  }
  .blog_button-read {
    top: 170px;
  }
}
