.intro::after {
  content: '';
  position: absolute;
  right: calc((100vw - 1440px) / -2);
  top: -78px;
  width: 32vw;
  height: 810px;
  border-radius: 0 0 0 15em;
  background: linear-gradient(
        119.77deg,
        rgba(245, 220, 175, 0.2) 11.15%,
        rgba(223, 185, 115, 0.2) 75.97%
      )
      no-repeat,
    linear-gradient(0deg, #fcf8f1, #fcf8f1) no-repeat;
}
.intro-helper::before {
  /* z-index: 4; */
  content: '';
  position: absolute;
  display: block;
  bottom: -20%;
  left: -15%;;
  width: 570px;
  height: 600px;
  background: url('../../images/design/main-shadow.png') no-repeat;
}

.advantages::before {
  content: '';
  position: absolute;
  height: 873px;
  bottom: 0;
  left: calc((100vw - 1440px) / -2);
  background: #493326 no-repeat;
  width: 50vw;
  border-radius: 0 300px 0 0;
}
.advantages_cup::after {
  content: '';
  position: absolute;
  top: 240px;
  left: -90px;
  width: 400px;
  height: 300px;
  background: url('../../images/design/advantages-shadow.png');
}
.actions::before {
  content: '';
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: calc((100vw - 1440px) / -2);
  right: calc((100vw - 1440px) / -2);
  background: url('../../images/design/actions-ellipse.png') top -50px right 100px
      no-repeat,
    linear-gradient(
        119.77deg,
        rgba(245, 220, 175, 0.2) 11.15%,
        rgba(223, 185, 115, 0.2) 75.97%
      )
      100% 100%,
    linear-gradient(0deg, #fcf8f1, #fcf8f1) 100% 100%;
}
.author-menu_item:last-child figure::before {
  content: '';
  position: absolute;
  width: 376px;
  height: 200px;
  bottom: 50%;
  left: 0;
  background: url('../../images/design/author-menu-last.png') 0 -150px no-repeat;
}
.author-menu_item:first-child figure::before {
  content: '';
  position: absolute;
  width: 587px;
  height: 323px;
  bottom: 0;
  left: 80px;
  background: url('../../images/design/author-menu-first.png') 0 -50px no-repeat;
}
.dessert-menu_item:first-child h3::before {
  content: '';
  position: absolute;
  top: 0;
  left: -200px;
  width: 350px;
  height: 420px;
  background: url('../../images/design/dessert-menu-main.png');
}
.dessert-menu_item:last-child::before {
  content: '';
  position: absolute;
  width: 460px;
  height: 405px;
  left: -110px;
  top: -35px;
  background: url('../../images/design/dessert-last-item.png') 0 -50px no-repeat;
}
.add-form::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc((100vw - 1440px) / -2);
  right: calc((100vw - 1440px) / -2);
  height: 100%;
  background: #493326 url('../../images/design/add.png') no-repeat;
}

.vacancies::before {
  content: '';
  position: absolute;
  top: 0;
  width: calc(60vw + (100vw - 1440px) / 2);
  height: 1587px;
  left: calc((100vw - 1440px) / -2);
  background: linear-gradient(
      119.77deg,
      rgba(245, 220, 175, 0.2) 11.15%,
      rgba(223, 185, 115, 0.2) 75.97%
    ),
    linear-gradient(0deg, #fcf8f1, #fcf8f1);
    border-radius: 0 0 100px 0;
}
/* .vacancies::after {
  content: '';
  position: absolute;
  top: -280px;
  right: -350px;
  width: 603px;
  height: 646px;
  background: url('../../images/design/vacancies-main.png') -50px 0 no-repeat;
} */
.barista.vacancy_block::before {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 270px;
  height: 175px;
  background: url('../../images/design/vacancies-little.png') no-repeat;
}
.map_title::before {
  content: '';
  position: absolute;
  width: 400px;
  height: 220px;
  left: -250px;
  top: -20px;
  background: url('../../images/design/map-ellipse.png');
}
.blog::after {
  content: '';
  position: absolute;
  right: 0;
  top: -150px;
  width: 300px;
  height: 1000px;
  background: url('../../images/design/blog-ellipse.png');
}
.blog::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc((100vw - 1440px) / -2);
  right: calc((100vw - 1440px) / -2);
  height: 493px;
  background: linear-gradient(
      119.77deg,
      rgba(245, 220, 175, 0.2) 11.15%,
      rgba(223, 185, 115, 0.2) 75.97%
    ),
    linear-gradient(0deg, #fcf8f1, #fcf8f1);
}
@media screen and (max-width: 1440px) {
  .intro::after {
    right: -10px;
  }
  .intro::before {
    left: 50vw;
  }
  .advantages::before {
    left: -10px;
  }
  .actions::before {
    left: -10px;
    right: -10px;
  }
  .add-form::before {
    left: -10px;
    right: -10px;
  }
  .vacancies::before {
    left: -10px;
    width: 60vw;
  }
  .blog::before {
    left: -10px;
    right: -10px;
  }
}

@media screen and (max-width: 830px) {
  .advantages::before {
    width: 85vw;
    height: 600px;
    border-radius: 0 100px 0 0;
  }
}
@media screen and (max-width: 650px) {
  .intro-helper::before {
    top: -5vw;
    left: 35vw;
    height: 300px;
    width: 400px;
    background-size: contain;
  }
}
@media screen and (max-width: 570px) {
  .advantages::before {
    height: 900px;
  }
  .vacancies::before {
    height: 2150px;
  }
  .intro::after {
    transform: rotate(90deg);
    height: 430px;
    top: 200px;
    width: 60vw;
  }
  .intro-helper::before {
    left: 25vw;
  }
}
@media screen and (max-width: 480px) {
  .intro-helper::before {
    left: 38vw;
  }
}

