.cost {
  padding-top: 160px;
  padding-bottom: 170px;
}
.cost__title {
  margin-bottom: 70px;
}
.cost__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cost__info {
  width: 495px;
  padding-top: 20px;
}
.cost__info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.cost__list-item {
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #3f342f;
}
.cost__info-btnbox {
  margin-top: 40px;
}
.cost__info-btn {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fcf8f1;
  padding: 20px 49px;
  background: #fba902;
}