/* Общее */

html,
body {
  background-color: #fffdfb;
  font-family: 'Raleway';
  height: 100%;
}
a:link,
a:visited {
  text-decoration: none;
  font-weight: normal;
}
div.hidden {
  display: none;
}
.wrapper {
  height: 100%;
}
section * {
  z-index: 2;
}
.container {
  padding: 0px 10px;
  max-width: 1420px;
  position: relative;
  margin: 0 auto;
  overflow-x: visible;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.title {
  font-family: 'Raleway_bold';
  color: #351c0e;
  text-transform: uppercase;
}
main section {
  transition: transform 1s, opacity 1s;
}
.section-hidden {
  opacity: 0;
  transform: translateY(6rem);
}
span.number {
  font-family: 'Noto-Sans';
}
@media screen and (max-width: 700px) {
  h2.title {
    font-size: 30px;
    line-height: 39px;
  }
}
