/* Header */
header {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  /* width: 1220px; */
  z-index: 3;
}
header.sticky {
  position: fixed;
  padding: 0;
  width: calc(100% - 20px);
  max-width: 1440px;
}
header.sticky * {
  z-index: 4;
}
header.sticky::before {
  content: '';
  position: absolute;
  z-index: 3;
  top: 0;
  height: 100%;
  background-color: #fcf8f1;
  left: calc((100vw - 1440px) / -2);
  right: calc((100vw - 1440px) / -2);
}
@media screen and (max-width: 1440px) {
  header.sticky::before {
    left: -10px;
    right: -10px;
  }
}
.logo {
  padding-top: 1px;
  margin-right: auto;
  position: relative;
}
.menu {
  display: flex;
  padding-top: 13px;
  padding-right: 30px;
}
.menu_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.menu_block {
  font-family: 'Raleway';
  color: #351c0e;
  margin-left: 50px;
  height: 20px;
  display: block;
  text-align: center;
}
.menu_block:hover {
  border-bottom: 1px solid #fba902;
  cursor: pointer;
}
.menu_block:active {
  color: #fba902;
}
.menu_link {
  color: inherit;
  min-width: 45px;
  display: block;
}
.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
  z-index: 2;
  margin-right: -15px;
}
.contact {
  display: block;
  font-family: 'Raleway';
  color: #493326;
  border-right: 1px solid #351c0e;
  padding-right: 14px;
}
.contact:hover {
  border-bottom: 1px solid #fba902;
}
.contact:active {
  color: #fba902;
  border-right: none;
}
.contact_links {
  margin: 0;
  padding: 0 15px;
  list-style-type: none;
  display: flex;
}
.contact_item {
  margin-left: 15px;
}
.contact_link {
  display: block;
  position: relative;
  width: 22px;
  height: 22px;
}
.contact_vk {
  background-image: url('../images/svg/vk.svg');
}
.contact_vk:hover {
  background-image: url('../images/svg/vk-hover.svg');
}
.contact_vk:active {
  background-image: url('../images/svg/vk-active.svg');
}
.contact_ig {
  background-image: url('../images/svg/ig.svg');
}
.contact_ig:hover {
  background-image: url('../images/svg/ig-hover.svg');
}
.contact_ig:active {
  background-image: url('../images/svg/ig-active.svg');
}
.contact_fb {
  background-image: url('../images/svg/fb.svg');
}
.contact_fb:hover {
  background-image: url('../images/svg/fb-hover.svg');
}
.contact_fb:active {
  background-image: url('../images/svg/fb-active.svg');
}
.burger-menu {
  position: relative;
  width: 30px;
  height: 7px;
  /* border-bottom: 2px solid rgb(53, 28, 14, 0.7); */
  background: linear-gradient(
    #fcf8f1 35%,
    rgb(53, 28, 14, 0.7) 35%,
    rgb(53, 28, 14, 0.7) 45%,
    #fcf8f1 45%
  );
  align-self: center;
  display: none;
  cursor: pointer;
  padding: 2px 0 12px 0;
}
@media screen and (max-width: 915px) {
  header {
    padding-top: 0;
  }
  header::before {
    content: '';
    background-color: #fcf8f1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 48px;
  }
  .menu_list {
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s, transform 0.3s;
    flex-direction: column;
    top: 43px;
    right: -10px;
    width: 320px;
    background-color: #fcf8f1;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
    transform: translateX(100%);
  }
  header .contacts {
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s, transform 0.3s;
    top: 253px;
    right: 5px;
    flex-direction: column;
    background-color: #fcf8f1;
    align-items: center;
    width: 320px;
    padding-top: 30px;
    padding-bottom: 55px;
    transform: translateX(100%);
  }
  .menu_list::after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -52px;
    width: 103px;
    height: 2px;
    background-color: #fba902;
    bottom: 2px;
    z-index: 3;
  }
  .menu_list .menu_block {
    display: block;
    margin: 0 0 20px 0;
  }

  header .contact {
    border: none;
    padding: 0;
    margin-bottom: 25px;
  }
  header .contact_links {
    padding: 0;
  }
  header .contact_item {
    margin-left: auto;
    margin-right: auto;
  }
  header .contact_item:nth-child(2) {
    margin-left: 23px;
    margin-right: 23px;
  }
  .burger-menu {
    display: block;
  }
  .burger-menu::before,
  .burger-menu::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: rgb(53, 28, 14, 0.7);
    transition: transform 0.3s;
  }
  .burger-menu::before {
    top: -3px;
    width: 25px;
    left: 5px;
  }
  .burger-menu::after {
    top: 17px;
    left: -5px;
    width: 35px;
  }
}
.burger-menu.active::before {
  transform: rotate(45deg);
  width: 30px;
  left: 0;
  top: 50%;
}
.burger-menu.active::after {
  transform: rotate(-45deg);
  width: 30px;
  left: 0;
  top: 50%;
}
.burger-menu.active {
  background: #fcf8f1;
}
.menu_list.active {
  opacity: 1;
  transform: translateX(0);
}
header .contacts.active {
  opacity: 1;
  transform: translateX(0);
}
@media screen and (max-width: 535px) {
  header .logo {
    height: 43px;
    display: flex;
    align-items: center;
  }
  header .logo img {
    width: 90px;
  }
}
