/* Popup Styles */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #493326;
  opacity: 0.8;
  z-index: 5;
  backdrop-filter: blur(10px);
  transition: opacity 0.1s;
}
.overlay.invisible {
  opacity: 0;
}
.popup {
  z-index: 5;
}

/* Form Styles */
form {
  background-color: #f9f0df;
  padding: 50px 80px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
form input:not([type='submit']),
form textarea {
  background-color: transparent;
  border: 1px solid #351c0e;
  margin-bottom: 20px;
  outline: none;
  caret-color: #fba902;
}
form input.invalid,
textarea.invalid {
  color: #fba902 !important;
  border: 1px solid #fba902 !important;
  animation-name: invalid;
  transition: color 0.4s;
  animation-duration: 0.2s;
  animation-iteration-count: 2;
  animation-direction: normal;
}
form input.invalid ~ label {
  color: #fba902;
}
form input.invalid::placeholder {
  color: #fba902;
}
input:-webkit-autofill {
  box-shadow: none;
  -webkit-box-shadow: 0 0 0 30px #f9f0d8 inset !important;
}
@keyframes invalid {
  30% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-5px);
  }
}
form textarea {
  height: 113px;
  color: #3f342f;
  opacity: 0.7;
  font-family: 'Raleway';
  font-size: 14px;
  line-height: 22.4px;
}
form .form_copyright {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 20px;
  color: black;
}
form label {
  color: #3f342f;
  opacity: 0.7;
  font-size: 14px;
  line-height: 22.4px;
  font-family: 'Raleway';
  position: absolute;
}
form .form_link {
  color: inherit;
  display: block;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
form .submit {
  margin: 0;
  font-size: 14px;
  line-height: 18.2px;
  text-transform: uppercase;
}

/* Vacancy-form Popup */
.vacancy-form {
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -300px;
  z-index: 6;
  position: fixed;
  border-radius: 15px;
  transition: opacity 0.2s;
}
.vacancy-form.invisible {
  opacity: 0;
}
.vacancy-form form {
  width: 440px;
  align-items: center;
}
.vacancy-form_title {
  margin: 0;
  margin-bottom: 45px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 46.8px;
}
.vacancy-form_title span {
  color: #fba902;
}
.vacancy-form input {
  padding: 14px 24px;
  width: 392px;
  display: inline-block;
  position: relative;
}
.vacancy-form input::placeholder {
  font-size: 12px;
}
.vacancy-form label {
  opacity: 0;
}
.vacancy-form textarea {
  padding: 11px 24px;
  width: 392px;
}
.vacancy-inline {
  display: flex;
  justify-content: space-between;
  width: 440px;
}
#vacancy-phone {
  font-family: 'Noto-Sans';
}
#vacancy-phone,
#vacancy-email {
  width: 160px;
}
.vacancy-form .form_copyright {
  width: 550px;
}

.popup-guest {
  color: #fcf8f1;
  background-color: #493326;
}
.popup-guest input::placeholder {
  color: #fcf8f1;
  opacity: 0.7;
  font-size: 14px;
}
.popup-guest_title {
  color: #fcf8f1;
}
.popup-guest form {
  background-color: #493326;
}
.popup-guest input:not([type='submit']),
.popup-guest textarea {
  border-color: #fcf8f1;
  color: #fcf8f1;
}
.popup-guest label {
  color: #fcf8f1;
}
.popup-guest .form_copyright {
  color: inherit;
}

/* Popup Announce  */
.announce {
  z-index: 7;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 50px 80px;
  margin-left: -400px;
  margin-top: -165px;
  border-radius: 10px;
  width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.2s;
}
.announce.invisible {
  opacity: 0;
}
.announce_title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 46.8px;
  margin: 0;
  margin-bottom: 35px;
}
.announce_title span {
  color: #fba902;
}
.announce_text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 28.8px;
  text-align: center;
  padding: 0 35px;
}
.announce_button {
  margin: 0 auto;
  padding: 16px 82px;
  text-transform: uppercase;
}

.popup-barista {
  background-color: #f9f0df;
  color: #3f342f;
}
.event-popup-form {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
  text-align: center;
}
.event-popup-form form {
  padding: 50px 150px;
  align-items: center;
}
.event-popup-form h3 {
  margin-bottom: 20px;
}
.event-popup-form p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18.2px;
  font-weight: 400;
}
.event-popup-form input:not([type='submit']) {
  padding: 16px 25px;
  width: 440px;
}
.event-popup-form input:last-child {
  margin-bottom: 10px;
}
.event-popup-form .form_submit {
  padding: 16px 74px;
  text-transform: uppercase;
}
.event-popup-form label {
  position: absolute;
  left: 209px;
}
.training_name-label {
  top: 233px;
}
.training_email-label {
  top: 303px;
  visibility: hidden;
}
#training-name:focus ~ .training_name-label,
#training-name:valid ~ .training_name-label {
  font-size: 12px;
  top: 200px;
  left: 200px;
}
#training-email:focus ~ .training_email-label,
#training-email:valid ~ .training_email-label {
  visibility: visible;
  font-size: 12px;
  top: 270px;
  left: 200px;
}
.signup_name-label {
  top: 185px;
}
.signup_email-label {
  top: 255px;
  visibility: hidden;
}
#signup-name:focus ~ .signup_name-label,
#signup-name:valid ~ .signup_name-label {
  font-size: 12px;
  top: 153px;
  left: 200px;
}
#signup-email:focus ~ .signup_email-label,
#signup-email:valid ~ .signup_email-label {
  visibility: visible;
  font-size: 12px;
  top: 223px;
  left: 200px;
}
@media screen and (max-width: 1920px) {
  .vacancy-form {
    margin-left: -250px;
    margin-top: 0;
    top: 20px;
  }
  .vacancy-form form {
    padding: 20px 30px;
  }
}
@media screen and (max-width: 660px) {
  .announce {
    width: 80%;
    margin-left: calc((80% + 30px) / -2);
    padding: 15px;
  }
  .announce_title {
    font-size: 26px;
  }
  .vacancy-form {
    width: 80%;
    margin-left: -40%;
    margin-top: 0;
    top: 10px;
  }
  .vacancy-form form {
    padding: 15px;
    width: calc(100% - 30px);
  }
  .vacancy-form_title {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .vacancy-form input {
    width: calc(100% - 50px);
  }
  .vacancy-form textarea {
    width: calc(100% - 50px);
  }
  .vacancy-form .form_copyright {
    width: 100%;
  }
  .vacancy-inline {
    width: 100%;
  }
  .vacancy-inline label + input {
    margin-left: 20px;
  }
  #vacancy-phone,
  #vacancy-email {
    width: 48%;
  }
}

@media screen and (max-width: 400px) {
  .vacancy-form input {
    padding: 5px 10px;
  }
  .vacancy-inline {
    flex-direction: column;
  }
  .vacancy-form_title {
    margin-bottom: 10px;
  }
  .vacancy-form textarea {
    height: 70px;
  }
  .vacancy-form form_copyright {
    margin-bottom: 10px;
  }
  .vacancy-form input,
  #vacancy-phone,
  #vacancy-email {
    width: calc(100% - 20px);
  }
  .vacancy-inline label + input {
    margin-left: 0px;
  }
}
